{% extends "blog/base.html" %}

{% block content %}
<div class="fluid-container">
{% if form.errors %}
<div class="alert alert-info">
	<p>Your username and password didn't match. Please try again.</p>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="form-group">
	<div>
	  <td>{{ form.username.label_tag }}</td>
	  <td>{{ form.username }}</td>
	</div>
	<div>
	  <td>{{ form.password.label_tag }}</td>
	  <td>{{ form.password }}</td>
	</div>
</div>

<div class="form-group">
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>

</form>

{# Assumes you setup the password_reset view in your URLconf #}
<a type="button" class="btn btn-light" href="{% url 'password_reset' %}">Lost password?</a>
{% endblock %}