{% extends "blog/base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, bracketeers!</h1>
  <p class="lead">Welcome to my web-based March tournament pool</p>
  <hr class="my-4">
  <p>This web application is built with love in Django</p>
</div>
<div class="card">
  <div class="card-header">
    How It Works
  </div>
  <div class="card-body">
    <h5 class="card-title">Rules of the Road</h5>
    <div class="card-text">
		<div class="row">
		  <div class="col-md-6 col-sm-12 col-xs-12">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title">Scoring</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				
			  </div>
			</div>
		  </div>
		  <div class="col-md-6 col-sm-12 col-xs-12">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title">Money</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				
			  </div>
			</div>
		  </div>
		</div>
			<hr><a href="#" class="btn btn-primary">Start Picking</a>	
	</div>
    
  </div>
  
</div>
{% endblock %}